.container {
    position: absolute;
    touch-action: none;
    display: flex;
    align-items: center;
    justify-content: center;
    // transition: left 0.125s 0s ease;
    // transition: top 0.125s 0s ease;
}