.container {
    width: var(--scheduler-cell-width);
    min-width: var(--scheduler-cell-min-width);
    height: var(--scheduler-cell-height);
    background-color: white;
    transition: background-color .5s .005s ease-in;
    transition: outline .5s .005s ease-in;
}